<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid" style="margin: 0px 50px 0px 50px">
    <a routerLink="/"><img src="../assets/logo.png" style="width: 40px; margin-right: 10px;"></a>
    <a class="navbar-brand" routerLink="/">SIG EDUCLATINO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ng-container *ngIf="authService.loggedIn();">
        <ul class="navbar-nav">
          <ng-container *ngIf="authService.getRol() == 'SECRETARIA' || authService.getRol() == 'ADMINISTRADOR';">
            <li class="nav-item dropdown" routerLinkActive="active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Registro</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/personal" routerLinkActive="active">Personal</a>
                <a class="dropdown-item" routerLink="/representante" routerLinkActive="active">Representates</a>
                <a class="dropdown-item" routerLink="/estudiante" routerLinkActive="active">Estudiantes</a>
              </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Pagos</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/pagos" routerLinkActive="active">Personal</a>
                <a class="dropdown-item" routerLink="/opagos" routerLinkActive="active">Otros</a>
              </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Cobros</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/pensiones" routerLinkActive="active">Pensiones</a>
                <a class="dropdown-item" routerLink="/matriculas" routerLinkActive="active">Matriculas</a>
                <a class="dropdown-item" routerLink="/oingresos" routerLinkActive="active">Otros</a>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="authService.getRol() == 'GERENTE' || authService.getRol() == 'ADMINISTRADOR';">
            <li class="nav-item">
              <a class="nav-link" routerLink="/estadistica">Estadistica</a>
            </li>
          </ng-container>
        </ul>
      </ng-container>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/register">Registrar</a>
          </li>
          <div style="border-left: 1px solid white; height: 45px;"></div>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>          
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <div style="display: block; padding: 0.9rem; color: #fff;">Usted ha iniciado sesion como {{authService.getRol().toLowerCase()}}</div>
          </li>
          <div style="border-left: 1px solid white; height: 45px;"></div>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" (click)="authService.logout()" style="cursor: pointer;">Salir</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>