<div class="row" style="margin: 50px 25px 0px 25px;">
    <div class="col-md-5">
        <div class="card border-primary center-h">
            <div class="card-header">Registro/actualización de pensiones</div>
            <div class="card-body">
                <form #pensionesForm="ngForm">
                    <fieldset>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-8">
                                <input type="text" [(ngModel)]="pension.pens_id" class="form-control" name="pens_id"
                                    type="hidden">
                                <label style="margin: 0;">Estudiante</label>
                                <ng-select placeholder="Buscar estudiante" [items]="allEstudiantes"
                                    bindLabel="ncompleto" bindValue="est_cedula" [(ngModel)]="pension.est_cedula"
                                    name="est_cedula" autofocus>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Abono</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="pension.pens_abono"
                                        name="pens_abono" placeholder="Abono" required>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Deuda</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="pension.pens_deuda"
                                        name="pens_deuda" placeholder="Deuda" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Mes</label>
                                <ng-select placeholder="Buscar mes" [items]="meses" bindLabel="mes_nombre"
                                    bindValue="mes_id" [(ngModel)]="pension.mes_id" name="mes_id" id="mes_id">
                                </ng-select>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Año</label>
                                <ng-select placeholder="Buscar año" [items]="anios" bindLabel="anio_numero"
                                    bindValue="anio_id" [(ngModel)]="pension.anio_id" name="anio_id">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <button class="btn btn-primary" style="margin-right: 30px; width: 110px;" (click)="save()">
                                Guardar
                            </button>
                            <button class="btn btn-primary" style="width: 110px;" (click)="resetForm(pensionesForm)">
                                Limpiar
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="form-group">
            <input class="form-control form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
        </div>
        <table class="table table-sm table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>Estudiante</th>
                    <th>Abono</th>
                    <th>Deuda</th>
                    <th>Mes</th>
                    <th>Año</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="allPensiones.length == 0; else tablaLlena">
                    <tr>
                        <td colspan="7" style="color: red;">No hay registros de pensiones!</td>
                    </tr>
                </ng-container>
                <ng-template #tablaLlena>
                    <tr *ngFor="let pens of allPensiones |filter:searchText|
                    paginate: {itemsPerPage: 11, currentPage: p}">
                        <td>{{ pens.est_nombres }} {{ pens.est_apellidop }} {{ pens.est_apellidom }}</td>
                        <td>{{ pens.pens_abono }}</td>
                        <td>{{ pens.pens_deuda }}</td>
                        <td>{{ pens.mes_nombre }}</td>
                        <td>{{ pens.anio_numero }}</td>
                        <td>
                            <a (click)="editPension(pens)">
                                <i class="fas fa-edit btn btn-outline-success btn-sm"></i>
                            </a>
                        </td>
                        <td>
                            <a (click)="deletePension(pens.pens_id)">
                                <i class="fas fa-trash-alt btn btn-outline-danger btn-sm"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Anterior" nextLabel="Siguiente"
            maxSize="12"></pagination-controls>
    </div>
</div>