<div class="row">
    <div class="col-md-5">
        <div class="card border-primary center-h">
            <div class="card-header">Registro/actualización de estudiantes</div>
            <div class="card-body">
                <form #estudianteForm="ngForm">
                    <fieldset>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Cedula</label>
                                <input type="text" [(ngModel)]="estudiante.est_cedula" class="form-control"
                                    name="est_cedula" id="est_cedula" placeholder="Cedula" required autofocus>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Nombres</label>
                                <input type="text" [(ngModel)]="estudiante.est_nombres" class="form-control"
                                    name="est_nombres" placeholder="Nombres" required>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Apellidos</label>
                                <input type="text" [(ngModel)]="estudiante.est_apellidos" class="form-control"
                                    name="est_apellidos" placeholder="Apellidos" required>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Fecha de nacimiento</label>
                                <input type="date" [(ngModel)]="estudiante.est_fecha_nac"
                                    (ngModelChange)="estudiante.est_fecha_nac = $event" class="form-control"
                                    name="est_fecha_nac" required>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Sexo</label>
                                <select class="form-control" [(ngModel)]="estudiante.est_sexo" name="est_sexo">
                                    <option [value]="item" *ngFor="let item of sexo">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Ciudad</label>
                                <select class="form-control" [(ngModel)]="estudiante.ciudad_id" name="ciudad_id">
                                    <option *ngFor="let ciudad of ciudades" [value]="ciudad[0]">{{ciudad[1]}}</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Representante</label>
                                <select class="form-control" [(ngModel)]="estudiante.rep_cedula" name="rep_cedula">
                                    <option *ngFor="let repre of representantes" [value]="repre[0]">{{repre[1]}} {{repre[2]}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <button class="btn btn-primary" style="margin-right: 30px; width: 110px;" (click)="save()">
                                Guardar
                            </button>
                            <button class="btn btn-primary" style="width: 110px;" (click)="resetForm(estudianteForm)">
                                Limpiar
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Cedula</th>
                    <th>Nombre Completo</th>
                    <th>Sexo</th>
                    <th>Ciudad</th>
                    <th>Representante</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let est of allEstudiantes">
                    <td>{{ est[0] }}</td>
                    <td>{{ est[1] }} {{ est[2] }}</td>
                    <td>{{ est[4] }}</td>
                    <td>{{ est[5] }}</td>
                    <td>{{ est[7] }} {{ est[8] }}</td>
                    <td>
                        <a (click)="editEstudiante(est)">
                            <i class="fas fa-edit btn btn-outline-info btn-sm"></i>
                        </a>
                    </td>
                    <td>
                        <a (click)="deleteEstudiante(est[0])">
                            <i class="fas fa-trash-alt btn btn-outline-danger btn-sm"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>
</div>