<div class="row" style="margin: 50px 25px 0px 25px;">
    <div class="col-md-5">
        <div class="card border-primary center-h">
            <div class="card-header">Registro/actualización de representantes</div>
            <div class="card-body">
                <form #repreForm="ngForm">
                    <fieldset>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Cedula</label>
                                <input type="text" [(ngModel)]="repre.rep_cedula" class="form-control" name="rep_cedula"
                                    id="rep_cedula" placeholder="Cedula" required autofocus>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Nombres</label>
                                <input type="text" [(ngModel)]="repre.rep_nombres" class="form-control"
                                    name="rep_nombres" placeholder="Nombres" required>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Apellido paterno</label>
                                <input type="text" [(ngModel)]="repre.rep_apellidop" class="form-control"
                                    name="rep_apellidop" placeholder="Apellido paterno" required>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Apellido materno</label>
                                <input type="text" [(ngModel)]="repre.rep_apellidom" class="form-control"
                                    name="rep_apellidom" placeholder="Apellido materno" required>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Correo electronico</label>
                                <input type="text" [(ngModel)]="repre.rep_email" class="form-control" name="rep_email"
                                    placeholder="Email" required>
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="form-group col-6">
                                <label style="margin: 0;">Telefono</label>
                                <input type="text" [(ngModel)]="repre.rep_telf" class="form-control" name="rep_telf"
                                    placeholder="Telefono" required>
                            </div>
                            <div class="form-group col-6">
                                <label style="margin: 0;">Ciudad</label>
                                <ng-select placeholder="Buscar ciudad" [items]="ciudades" bindLabel="ciudad_nombre"
                                    bindValue="ciudad_id" [(ngModel)]="repre.ciudad_id" name="ciudad_id">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <button class="btn btn-primary" style="margin-right: 30px; width: 110px;" (click)="save()">
                                Guardar
                            </button>
                            <button class="btn btn-primary" style="width: 110px;" (click)="resetForm(repreForm)">
                                Limpiar
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <input class="form-control form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
        </div>
        <table class="table table-sm table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>Cedula</th>
                    <th>Nombre Completo</th>
                    <!--<th>Correo</th>-->
                    <th>Telefono</th>
                    <th>Ciudad</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="allRepre.length == 0; else tablaLlena">
                    <tr>
                        <td colspan="7" style="color: red;">No hay registros de representantes!</td>
                    </tr>
                </ng-container>
                <ng-template #tablaLlena>
                    <tr *ngFor="let rep of allRepre |filter:searchText|
                    paginate: {itemsPerPage: 11, currentPage: p}">
                        <td>{{ rep.rep_cedula }}</td>
                        <td>{{ rep.rep_nombres }} {{ rep.rep_apellidop }} {{ rep.rep_apellidom }}</td>
                        <!--<td>{{ rep.rep_email }}</td>-->
                        <td>{{ rep.rep_telf }}</td>
                        <td>{{ rep.ciudad_nombre }}</td>
                        <td>
                            <a (click)="editRepre(rep)">
                                <i class="fas fa-edit btn btn-outline-success btn-sm"></i>
                            </a>
                        </td>
                        <td>
                            <a (click)="deleteRepre(rep.rep_cedula)">
                                <i class="fas fa-trash-alt btn btn-outline-danger btn-sm"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Anterior" nextLabel="Siguiente"
            maxSize="12"></pagination-controls>
    </div>
</div>