<div class="row">
    <!--<div class="form-group col-2">
        <label style="margin: 0;">Año</label>
        <ng-select [items]="anios" bindLabel="anio_numero"
            bindValue="anio_id" [(ngModel)]="anio_selected" name="anio_selected">
        </ng-select>
    </div>-->
    <div class="col-12" style="margin-top: 10px;">
        <h3 style="text-align: center;">Cantidad de estudiantes por periodo lectivo</h3>
    </div>

    <div class="col-12" style="margin-top: 25px;">
        <div style="display: block;" style="width: 80%; margin: 0 auto;">
            <canvas id="canvasCantEst"></canvas>
        </div>
    </div>
</div>
